dtd/configuration.dtd

<!-- DTD for D-BUS Introspection Trigger -->
<!-- (C) 2010 Raphaël Droz; released under the GNU GPL licence -->

<!-- TODO: add a BooleanProperty ELEMENT -->
<!ELEMENT Config (Match+, Action*)>
<!-- eg, UDisks, UPower -->
<!ATTLIST Config interface CDATA #REQUIRED>
<!-- org.freedesktop -->
<!ATTLIST Config namespace CDATA #REQUIRED>
<!-- include and rc.d are then easily possible -->
<!ATTLIST Config id ID #IMPLIED>
<!-- use IDREFS ? -->
<!ATTLIST Config ref IDREF #IMPLIED>


<!-- binary use spawn (P_NOWAIT) -->
<!ELEMENT Do EMPTY> <!--todo; type='dbus method': <arg> -->
<!ATTLIST Do type (script|binary|xslt) #REQUIRED>
<!ATTLIST Do value CDATA #REQUIRED>
<!-- used for type="binary" -->
<!ATTLIST Do args CDATA #IMPLIED>
<!-- used when type="script" -->
<!ATTLIST Do fork CDATA #IMPLIED>

<!ELEMENT Property EMPTY>
<!-- XXX is autogenerated from PropertyList of the <Match object> -->
<!ATTLIST Property id (XXX) #REQUIRED>
<!ATTLIST Property value CDATA #REQUIRED>



<!ELEMENT Event (Property|Do)*>
<!-- XXX is autogenerated from SignalList of the <Config interface> :
     eg: dbus-send -system -print-reply -dest=org.freedesktop.UDisks /org/freedesktop/UDisks org.freedesktop.DBus.Introspectable.Introspect
     XXX is all of Object of <Match object> methods with
     a <arg> which belong this <method> with type="o"

     <Match object> methods are thoses which contains id="object".FirstUpper()
       where "object" is the one defined in our <Config><Match object> -->
<!ATTLIST Event value (Any|OnInit|XXX) #IMPLIED>
<!-- TODO: an exec ATTR which would allow typing more ?
for eg, <Event value="DeviceRemoved" exec="binary" /> -->


<!ELEMENT Characteristic (Property*,BooleanProperties)>
<!ATTLIST Characteristic id ID #IMPLIED>
<!-- because of "ref"erence, specifying Property is optionnal -->
<!ATTLIST Characteristic ref IDREF #IMPLIED>


<!--
                  ,____ <CONFIG>
                 /         |
                /        Match
               /        /     \
             _______ Event   Characteristic
            /   \    |   \      |  \
            |    ` Action \     |   \
            \        |     \    |    \
             \_____ Do    Property  BooleanProperties
-->
<!-- remove:<!ELEMENT Condition>-->

<!-- just a set of Do to store -->
<!ELEMENT Action (Do*)>
<!-- no id means no reuse, so in that case, just don't wrap <Do>
     and totally avoid the need of an <Action> -->
<!ATTLIST Action id ID #IMPLIED>
<!ATTLIST Action ref IDREF #IMPLIED>

<!-- todo, make it order-independant -->
<!ELEMENT Match (Characteristic,Action*,Event)>
<!-- source hardcode : UDISKS = Device|Expander|Adapter|Port -->
<!-- <!ATTLIST Match object (XXX) #REQUIRED> TODO-->
<!ATTLIST Match object (Device) #REQUIRED> 
<!-- <!ATTLIST Match object FIXED "Device">  -->
<!ATTLIST Match description CDATA #IMPLIED>

